0x1D-binary_trees/binary_tree_print.c
0x1D-binary_trees/1-main.c
*main.c
0x1D-binary_trees/3-del
0x1D-binary_trees/2-right
0x1D-binary_trees/1-left
0x1C-makefiles/__pycache__/5-island_perimeter.cpython-36.pyc
0x1C-makefiles/5-main.py
0x1C-makefiles/5-island_perimeter.py~
0x1D-binary_trees/4-leaf
0x1D-binary_trees/10-depth
0x1D-binary_trees/10-binary_tree_depth.c~
0x1D-binary_trees/9-height
0x1D-binary_trees/8-post
0x1D-binary_trees/7-in
0x1D-binary_trees/6-pre
;ACS